body{
    height: 100%;
    background: #1e90ff;
    background: linear-gradient(to bottom right,#1e90ff, #90ee90);
}

.jumbotron{
    height: 10px;
}

#message{
    background-color: white;
    padding: 1%;
}