body{
    height: 165%;
    background: #1e90ff;
    background: linear-gradient(to bottom right,#1e90ff, #90ee90);
}


header{
    text-align: center;
}

.card{
    width: 125px;
}

#message{
    font-style: bold;
}

.row{
    padding: 3px;
}

